@import '~bootstrap/scss/bootstrap';
@import 'typography';

$color-lightblue: #82CBD6;
$color-teal: #2FA49B;
$color-softgreen: #70BE94;
$color-brightgreen: #B8DA7B;
$color-lightgreen: #E4F2BF;
$color-gray: #e1e8f0;

.fc-title {
padding: 0 1px;
white-space: normal;
}

h1 {
 font-family: 'Overpass', sans-serif;
 font-weight: bold;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 10px;
 padding-top: 15px;
}

.navbar-brand,
.btn,
h5 {
   font-family: 'Overpass', sans-serif;
   font-weight: bold;
}

.navbar-brand,
.view-window,
.add-friend-form,
.add-event-form,
.sign-in-container,
.user-message,
footer,
.event-notifications {
  font-family: 'Overpass', sans-serif;
}

.user-message {
  display: flex;
  justify-content: center;
}

body {
  background-color: $color-gray;
  padding-right: 0 !important;
}

html,
body {
 height: 100%;
 position: relative;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background-image: url('public/nav-background2.jpg');
}

.event-notifications {
  text-shadow: 1px 1px;
  font-size: 24px;
  text-align: center;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  fieldset {
    border: 1px groove;
    margin: 0 0 1.5em;
    padding: 0 1.4em 1.4em;
    width: inherit;
  }

  legend {
    border-bottom: 0;
    padding: 0 10px;
    width: inherit;
  }

  .form-control {
    margin: 5px;
  }
}

.add-friend-form,
.add-event-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  width: 600px;
  margin-top: 20px;
  padding: 20px;

  fieldset {
    border: 1px groove;
    margin-top: 20px;
    padding: 20px;
    width: inherit;
  }

  .form-control {
    margin: 5px;
  }
}

.custom-select {
  margin: 5px;
}

.my-account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  margin-top: 20px;
}

.nav-item {
  margin: 10px;
}

.view-window {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 60px;
}

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 15px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: $color-teal;
  text-shadow: 1px 1px;
}

.clock {
  position: sticky;
  width: 200px;
  height: 200px;
  background-image: url('public/Clock-No-Hands.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100px;
}

.hand {
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: $black;

  bottom: 99px;
  left: 99px;
  transform-origin: 50% 100%;
}

.minute {
  height: 75px;
}

.second {
  height: 90px;
  background-color: $color-teal
}

a {
  color: $color-teal;
}
